{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base/legacy",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "eslint:recommended",
    "prettier/unicorn"
  ],
  "plugins": [
    "prettier",
    "unicorn" ,
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "as-needed"],
    "func-names": [0, "as-needed"],
    "no-confusing-arrow": 0,
    "no-debugger": "off",
    "no-console": 0,
    "unicorn/prevent-abbreviations": "off"
  }
}
